a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var{
    background: transparent;
    font-size: 100%;
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline; }

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* IAMDE DE FOND OURSON */
header{
    background-image: url(/ourson.png);
    background-size: cover;
    height: 1100px;
    background-color: rgba( 234, 226, 209, 0.5);
}
header img{
   width: 150px;
   margin-top: 50px;
}
/* INDICATEURS SLIDER */
.fa-1x {
    font-size: 1.5rem;
    }
    .navbar-toggler.toggler-example {
    cursor: pointer;
    }
    .dark-blue-text {
    color: white;
    }
   /* GROS TITRE */
.entete h1{
    font-size: 160px;
    color: white;
    font-weight: lighter;  
    margin-top: 300px;
}  

/* SOUSTITRE */
.entete h2{
    color: white;
}
/* INDICATEURS */
.carousel-indicators{
    margin-bottom: -400px;
    
}

.trait{
  
margin: auto; 
background-color: black;
height: 1px;
width: 5%;
}
.paragraphe1{
    margin-top: 100px;
    text-align: center;
}
.paragraphe1 h2{
    font-size: 50px;
    font-weight: lighter;
}
.paragraphe1 h3{
    font-size: 40px;
    font-weight: bolder;
}
.paragraphe1 h4{
    font-weight: bold;
    margin-top: 40px;
}
.paragraphe1 p{
    margin-top: 50px;
}
/* FOND ROSE POUR PARAGRAPHE A COTE IMAGE COUPLE */
.fond {
    background-color: rgb(255, 233, 226);
    width: auto;
    height: 765px;
}
.para1{
    padding-top: 200px;
    font-size: 22px;
    font-weight: bold;
}
.para2{
    font-size: 20px;
    font-weight: 200;
}

.couple img{
    
    width: 950px;
}
.reasons{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 50px;
}
.trait2{
    margin-top: 130px;
    margin-left: -22%;
    background-color: black;
    height: 1px;
    width: 5%;
    }

/* GRID POUR LES 4 PARAGRAPHES ( BOX ) EN COLONNES */
.grid{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.grid h4{
    margin-top: 50px;
    margin-right: 10%;
    font-size: large;
    font-weight: bolder;
}
.box1{
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border: solid 1px rgb(170, 165, 165);
    border-width: 1px 0 0 1px;
    padding-left: 5%;
}  
/* PARAGRAPHE GRID */
.box2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border: solid 1px rgb(170, 165, 165);
    border-width:1px 1px 0 1px;
    padding-left: 5%;
}
/* PARAGRAPHE GRID */
.box3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: solid 1px rgb(170, 165, 165);
    border-width: 1px 0 1px 1px;
    padding-left: 5%;
}
/* PARAGRAPHE GRID */
.box4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: solid 1px rgb(170, 165, 165);
    padding-left: 5%;
    
}
.paragraphe3{
    font-weight: bold;
    margin-top: 80px;
}

.trait3{
    margin-top: 30px;
    background-color: black;
    height: 1px;
    width: 10%;
}
.p1{
    font-style: italic;
    font-weight: 100;
}
.bouton{
   margin-top: 50px;
   text-align: center;
   border: solid 1px rgb(170, 165, 165);

}
.img-mains{
    margin-top: 150px;
    background-image: url(/mains-opaq.png);
    background-size: cover;
    height: 1100px;
   
}
.img-mains p{
    padding-top: 400px;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 60px;
    font-weight: 100;
}
/* 2EME GRID POUR 4 IMAGES DECALLEES */
.grid2{
    background-color: rgb(242, 244, 245);
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50vh;
    grid-gap: 40px;
   
    
}
.img1{
    background-image: url(/homme-costume-opaq.png);
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    
}

.img2{
    background: url(/homme-montagne-opaq.png);
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:2;
}

.img3{
    background-image: url(/cafe-opaq.png);
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:3;
}

.img4{
    background-image: url(/homme-lunettes-opaq.png);
    background-size: cover;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:3;
}
.grid2 h4{
    
    text-align: center;
}
.img1 h4{
    color: white;
    font-size:80px;
    font-weight: 100;
    line-height: 2;
}
.grid2 button{
    text-align: center;
    margin-top: 40%;
    margin-left: 10%;
}
.img2 h4{
    font-size: 30px;
    font-weight: bolder;
}
.img3 h4{
    font-size: 40px;
    font-weight: bolder;
}
.img4 h4{
    color: white;
    font-size: 60px;
    font-weight: 100;
}
.bouton2{
    margin-top: 50px;
    text-align: center;
    border: solid 1px rgb(170, 165, 165);
}
a{
    display: block;
    color: black;
    
}
/* FOOTER DIVISE EN DEUX = 1 GRANDE PARTIE = CONTAINER ROW 4 COLONNES
                           1 PETITE PARTIE = COPYRIGHT ET ICONES CONTACTS RESEAUX */
footer{
    margin-top: 150px;
    background-color: rgb(242, 244, 245);
}
.footer2{
    background-color: rgb(170, 165, 165);
    color: rgb(70, 70, 70);
}
.footer2 p{
    font-size:x-small;
}
.icone{
    display: flex;
    justify-content: space-between;
}


.img4 button{
    margin-top: 240px;
    margin-left: 350px;
}